*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
/app-debug.apk
/app-debug.zip
/.build-outputs/

*.txt
!tom_sawyer.txt
!phrases_chapter*.txt
*.png
tom_sawyer_librivox/
tom_sawyer_librivox.zip
